.wrapper {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.box {
  border: 1px solid #fff;
  width: 500px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
}
.box:hover {
  opacity: 0.5;
}
.item-img {
  width: 400px;
  border-radius: 25px;
  height: 300px;
}
.main {
  display: flex;
  justify-content: center;
}
.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}
